img{
	width: 100%;
}
body {
	background :Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
	Linear-gradient(127deg, black, black 70.71%),Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}


li a {
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: red;
}

 h1{
 	color: white;
 }

.nav ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}
.nav {
	display: flex;
}

.nav li {
	font-size:1.5em;
	font-weight: bold;
	text-transform:uppercase;
	list-style-type: none;
}
.logo{ 	
	width:50px;
	height:50px; 
 }
 

.c1{
    width:230px;
    height:230px;
    margin-left:50px;
    display:inline-block;
    background-image:url(https://iyadhkhalfallah.github.io/checkpointsGMC/res/tracks/Objet%20dynamique%20vectoriel.png)
    
}  


.c1:hover{
    background-color:black;
    opacity: 0.3;

}  

.c1 button {
	position: relative;
	top: 50%;
}

.c2 button {
	position: relative;
	top: 50%;
}

.c3 button {
	position: relative;
	top: 50%;
}
    


.c2{ 
	width:230px; 
	height:230px; 
	margin-left: 50px; 
	display: inline-block; 
	background-image:url(https://iyadhkhalfallah.github.io/checkpointsGMC/res/tracks/Objet%20dynamique%20vectoriel1.png);
 }  
 .c2:hover{
    background-color:black;
    opacity: 0.3;

}  
 
 .c3{
 	width: 230px; 
 	height: 230px; 
 	margin-left: 50px; 
 	display: inline-block; 
 	background-image:url(https://iyadhkhalfallah.github.io/checkpointsGMC/res/tracks/Objet%20dynamique%20vectoriel2.png);
 }  
 .c3:hover{
    background-color:black;
    opacity: 0.3;

}   

.course1 {
	opacity: 0;
}

.course1Hover{
    display:inline !important;
    opacity: 1 !important;
}
   
.course2 {
	opacity: 0;
}

.course2Hover{
    display:inline;
    opacity: 1;
} 
 
.course3 {
	opacity: 0;
}

.course3Hover{
    display:inline;
    opacity: 1;
}    

